pipeline/pipe_handson02.json
{
	"name": "pipe_handson02",
	"properties": {
		"activities": [
			{
				"name": "read_parquet",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_dinamico_parquet",
						"type": "DatasetReference",
						"parameters": {
							"containerName": "parquetfiles",
							"fileName": "*"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "filtrar_somente_files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('filtrar_somente_files').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "parquet_to_sql_azure_database",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_dinamico_parquet",
									"type": "DatasetReference",
									"parameters": {
										"containerName": "parquetfiles",
										"fileName": {
											"value": "@replace(item().name, '.parquet', '')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_dinamico_azure_sql_database",
									"type": "DatasetReference",
									"parameters": {
										"schemaName": "SalesLT",
										"tableName": {
											"value": "@replace(item().name, '.parquet', '')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "limpar_dados_duplicados_cores",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[SalesLT].[usp_remove_cores_duplicadas]"
				},
				"linkedServiceName": {
					"referenceName": "ls_azure_sql_database",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "limpar_dados_duplicados_cidades",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[SalesLT].[usp_remove_cidades_duplicadas]"
				},
				"linkedServiceName": {
					"referenceName": "ls_azure_sql_database",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "filtrar_somente_files",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "read_parquet",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('read_parquet').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().type, 'File')",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "adf_03_handson01"
		},
		"annotations": [],
		"lastPublishTime": "2022-01-13T19:33:17Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}