pipeline/pipe_copydata.json
{
	"name": "pipe_copydata",
	"properties": {
		"activities": [
			{
				"name": "excel_to_csv",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"additionalColumns": [
							{
								"name": "dataCarga",
								"value": {
									"value": "@utcNow('D')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "id",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "cor",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "cor",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "dataCarga",
									"type": "String"
								},
								"sink": {
									"name": "dataCarga",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_dinamico_excel",
						"type": "DatasetReference",
						"parameters": {
							"conteinetName": "excelfil",
							"fileName": "plan_cor.xlsx",
							"sheetName": "Plan1"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_dinamico_csv",
						"type": "DatasetReference",
						"parameters": {
							"containerName": "csvfiles",
							"fileName": "csvCor.csv",
							"separatorName": ";"
						}
					}
				]
			},
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "excel_to_csv",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Send notification to a channel in Microsoft Teams1",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"activityName": "Teste",
						"activityDuration": {
							"value": "@activity('excel_to_csv').output.executionDetails[0].duration",
							"type": "Expression"
						},
						"activityStatus": {
							"value": "@activity('excel_to_csv').output.executionDetails[0].status",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Execute Pipeline1_copy1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "excel_to_csv",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Send notification to a channel in Microsoft Teams1",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"activityName": "Teste",
						"activityMessage": {
							"value": "@activity('excel_to_csv').output.errors[0].Message",
							"type": "Expression"
						},
						"activityDuration": {
							"value": "@activity('excel_to_csv').output.executionDetails[0].duration",
							"type": "Expression"
						},
						"activityStatus": {
							"value": "@activity('excel_to_csv').output.executionDetails[0].status",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"RunId": {
				"type": "string"
			}
		},
		"folder": {
			"name": "00 - Ativities"
		},
		"annotations": [],
		"lastPublishTime": "2022-01-13T18:21:21Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}